@import "./verables";
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.tiles{
    
    :hover{
        opacity: 0.7;
        cursor:pointer;
    }
    &{
        float: right;
    }
   // padding-top: 10%;
    display: grid;
    grid-template-columns: auto auto auto;
    //width: 300px;
    width: 70vw;
    
}